<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/public/style.css" />
        <title>Index</title>
    </head>
 
    <body>
        <header>
            <a href="/"><h1><img src="/public/images/logo.png" alt="logo" /><%= nom %></h1></a>
        </header>
        <hr>
        <nav class="menu">
            <ul>
                <li><a href="/">Accueil</a></li>
            </ul>
        </nav>
        <hr>
       <form  action="/modifParkValid" method="post">
           
                <input type="text" name="nom" id="nom" value="<%= nom %>"/>
                <input type="number" name="nbrPlaceV" id="nbrPlaceV" min="0" value="<%= nbrPlaceV %>"/>
                <input type="number" name="nbrPlaceM" id="nbrPlaceM" min="0" value="<%= nbrPlaceM %>"/>
                <input type="number" name="nbrPlaceLibreV" id="nbrPlaceLibreV" min="0" value="<%= vLibre %>"/>
                <input type="number" name="nbrPlaceLibreM" id="nbrPlaceLibreM" min="0" value="<%= mLibre %>"/>
                <input type="submit" value="Modifier"/>
                <input type="text" name="id" id="id" min="0" value="<%= id %>" hidden/>
            
        </form>
    </body>
</html>