<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />       
        <title>Accueil</title>
        <link rel="stylesheet" type="text/css" href="/public/style.css" />
        <link rel="stylesheet" type="text/css" href="/public/pagination.css" />
        <script type="text/javascript" src="/public/pagination.js"></script>
    </head>
 
    <body>
      <header>
        <a class="none" href="/"><h2><img src="/public/images/logo.png" alt="logo" />Résultats de recherche pour <%= nom %></h2></a>
      </header>
      <hr>
        <nav class="menu">
            <ul>
                <li><a href="/">Accueil</a></li>
            </ul>
        </nav>
        <hr>
        <form action="/search" method="post">
          <label for="recherche">Recherche</label> :
          <input type="text" id="recherche" name="recherche">
          <input type="submit" value="Rechercher" id="Rechercher">
        </form>
      <div>
        <table>
          <thead>
            <tr>
              <th>plaque</th>
              <th>heure d'entrée</th>
              <th>payé</th>
              <th>type</th>
            </tr>
          </thead>
          <tbody>
            <% list.forEach(function(vhl) { %>
            <tr>
              <td><%= vhl.plaque %></td>
              <td><script>document.write(dateFr("<%= vhl.dateEntre %>"))</script></td>
              <td><%= vhl.paye %></td>
              <td><%= vhl.type %></td>
            </tr>
            <% }); %>
          </tbody>    
        </table> 
        <nav id="pagination"></nav> 
      </div>   

    </body>

</html>